<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title>Dealership Review - Best Cars</title>
</head>
<body>
    <!-- Navigation bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="navbar-nav mr-auto">
            <a class="nav-link active" href="/">🚗 Best Cars</a>
            <a class="nav-link" href="{% url 'djangoapp:about' %}">🚙 About Us</a>
            <a class="nav-link" href="{% url 'djangoapp:contact' %}">📞 Contact Us</a>
        </div>
        {% if user.is_authenticated %}
        <div>
            <a class="btn btn-link" href="#">{{ user.first_name }}({{ user.username }})</a>
            <a class="btn btn-link" href="{% url 'djangoapp:logout' %}">Logout</a>
        </div>
        {% else %}
        <form class="form-inline my-2 my-lg-0" action="{% url 'djangoapp:login' %}" method="post">
            {% csrf_token %}
            <div class="input-group">
                <input class="form-control mr-sm-2" type="text" placeholder="username" name="username">
                <input type="password" class="form-control mr-sm-2" placeholder="password" name="password">
                <button class="btn btn-primary mr-sm-2" type="submit">Login</button>
                <a class="btn btn-outline-light" href="{% url 'djangoapp:registration' %} ">Sign Up</a>
            </div>
        </form>
        {% endif %}
    </nav>

    <!-- Dealer table -->
    <section class="container mt-1">
        <h1>Dealer Review</h1>
        <p>Work in progress</p>
    </section>

</body>
</html>